@import "ember-cli-font-awesome-sass";

.profile-pic {
  width: 100%;
  height: 30em;
}

.movie-pics {
  width: 100%;
  height: auto;
}

.entry-content {
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 5em;
}

ul {
  list-style-type: none;
}
