<div class="jumbotron text-center">
  <h1>About Tamtrill</h1>
  <p>Tamtrill Productions was made by Ape April and Tamosaurus Rex. Together we provide the realist to the reels list!</p>
</div>

<div class="row">
  <div class="col-md-6 well img-responsive">
    <img class="profile-pic" src="img/ape.jpg" alt="I am little queen" />
  </div>
  <div class="col-md-6 well img-responsive">
    <img class="profile-pic" src="img/dino.jpg" alt="I am a little dinosaur" />
  </div>
</div>

{{#link-to 'contact'}}Click here to contact us!{{/link-to}}
