<div class="jumbotron">
  <h2 class="text-center">Add, Edit, Delete Reviews and Blog entries</h2>
</div>

{{entry-new saveEntry2="saveEntry3"}}

<div class="row">
  <div class="col-sm-8 well">
    {{#each model.reviews as |review|}}
      {{review-tile review=review}}
    {{/each}}
  </div>
  <div class="col-sm-4">
    <ul>
      {{#each model.entries as |entry|}}
        {{#link-to 'entry' entry.id}}{{entry-admin-tile entry=entry destroyEntry="destroyEntry"}}{{/link-to}}
      {{/each}}
    </ul>
  </div>
</div>
