<div class="container">
  <button class="btn btn-info" {{action 'toggleSidebar'}}>Toggle</button>
  {{outlet}}
</div>

<div class="ui sidebar inverted vertical menu">
  <a class="item">
    {{#link-to 'about'}}About{{/link-to}}
  </a>
  <a class="item">
    {{#link-to 'contact'}}Contact{{/link-to}}
  </a>
  <a class="item">
    {{#link-to 'index'}}Home{{/link-to}}
  </a>
</div>
<div class="pusher">
  <!-- Site content !-->
</div>
