<div class="container">
  <br>
  <button class="btn btn-info" {{action 'toggleSidebar'}}>{{fa-icon "toggle-on"}} Toggle</button>
  <hr>
  {{outlet}}
</div>

<div class="sky">
    <div class="moon"></div>
    <div class="clouds_one"></div>
    <div class="clouds_two"></div>
    <div class="clouds_three"></div>
</div>

<div class="ui sidebar inverted vertical menu">
  <a class="item">
    {{#link-to 'about'}}About{{/link-to}}
  </a>
  <a class="item">
    {{#link-to 'contact'}}Contact{{/link-to}}
  </a>
  <a class="item">
    {{#link-to 'index'}}Home{{/link-to}}
  </a>
  <a class="item">
    {{#link-to 'admin'}}Admin{{/link-to}}
  </a>
</div>
<div class="pusher">
  <!-- Site content !-->
</div>
