<div class="jumbotron text-center">
  <h1>Contact:</h1>
</div>

<h3><a href="https://www.google.com/gmail/about/" target="_blank">mr.tamron@gmail.com</a></h3>
<h3><a href="https://www.google.com/gmail/about/" target="_blank">helloaprilpeng@gmail.com</a></h3>
<hr>
{{#link-to 'about'}}Back to about page{{/link-to}}
