<div class="jumbotron sky">
  <h1>We keep it the Trillest!</h1>
  <p>Read our reviews and blog posts!</p>
  <div class="moon"></div>
  <div class="clouds_one"></div>
  <div class="clouds_two"></div>
  <div class="clouds_three"></div>
</div>

<div class="row">
  <div class="col-sm-8 well">
    {{#each model.reviews as |review|}}
      {{review-tile review=review}}
    {{/each}}
  </div>
  <div class="col-sm-4">
    <ul>
      {{#each model.entries as |entry|}}
        {{entry-tile entry=entry}}
      {{/each}}
    </ul>
  </div>
</div>
